* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    font-size: $font-size;
    font-family: $font-main;
    color: $color-gray;
}

h1 {
    font-family: $font-header;
    letter-spacing: 0.08em;
    font-weight: 300;
    line-height: 1.2;

    @include lg-min {
        font-size: 3.75rem;
    }

    @include lg-md {
        font-size: 2.75rem;
    }

    @include md {
        font-size: 1.875rem;
    }
}


h2 {
    font-family: $font-header;
    color: $color-primary;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    margin-top: 0;

    @include lg-min {
        font-size: 2.5rem;
        margin-bottom: 56px;
    }
    
    @include lg-md {
        font-size: 2rem;
        margin-bottom: 42px;
    }

    @include md-sm {
        font-size: 1.5rem;
        margin-bottom: 36px;
    }
    
    @include sm {
        font-size: 1.5rem;
        margin-bottom: 36px;
        text-align: center;
    }

}

p {}

a {
    text-decoration: none;
    color: #ffffff;
}

input {
    overflow: visible;
}

.btn {
    border-color: $color-light;
    background-color: rgba($color-light, 0.1);
    @extend %btn-common;
}

.btn-accent  {
    border-color: $color-primary;
    background-color: rgba($color-primary, 0.8);
    @extend %btn-common;
}